@font-face {
  font-family: 'HelvNeueBoldforIBM';
  src: url('../fonts/HelvNeueBoldforIBM.otf'); }

@font-face {
  font-family: 'HelvNeueLightforIBM';
  src: url('../fonts/HelvNeueLightforIBM.otf'); }

@font-face {
  font-family: 'HelvNeueMediumforIBM';
  src: url('../fonts/HelvNeueMediumforIBM.otf'); }

@font-face {
  font-family: 'LubalinDemiforIBM';
  src: url('../fonts/LubalinDemiforIBM.otf'); }

@font-face {
  font-family: 'LubalinDemiforIBM';
  src: url('../fonts/LubalinDemiforIBM.otf'); }
